# The JS team owns everything by default
* @awslabs/aws-sdk-js-team

# These libraries are only intended for use with the SSDK.
smithy-typescript-ssdk-libs/* @awslabs/smithy

# These integs tests are mostly for the SSDK integrations
smithy-typescript-integ-tests/* @awslabs/smithy

# These are all specific to SSDK functionality.
smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerCommandGenerator.java @awslabs/smithy
smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerGenerator.java @awslabs/smithy
smithy-typescript-codegen/src/main/java/software/amazon/smithy/typescript/codegen/ServerSymbolVisitor.java @awslabs/smithy
