# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

#converter input/output
**/modelJson
**/modelSmithy

# Maven
target/
**/dependency-reduced-pom.xml

# Gradle
/.gradle
build/
*/out/
*/*/out/
wrapper/

# Visual Studio Code
.vscode/*
