# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/
**/dependency-reduced-pom.xml

# Gradle
/.gradle
build/
*/out/
*/*/out/
wrapper/

# Visual Studio Code
.vscode/*

# Integ test Yarn stuff
smithy-typescript-integ-tests/dist
smithy-typescript-integ-tests/node_modules
smithy-typescript-integ-tests/yarn.lock
