// @ts-ignore hack to avoid 'package.json' is not under 'rootDir', package.json will exist in dist
import packageInfo from "../../package.json";

import { ClientDefaults } from "${clientModuleName}";
import { ClientSharedValues } from "./runtimeConfig.shared";

export const ClientDefaultValues: Required<ClientDefaults> = {
  ...ClientSharedValues,
  runtime: "browser",
${customizations}
};
