// Cannot use `import` as it's not under TS rootDir.
const { name, version } = require('../package.json');

import { ClientDefaults } from "${clientModuleName}";
import { ClientSharedValues } from "./runtimeConfig.shared";

export const ClientDefaultValues: Required<ClientDefaults> = {
  ...ClientSharedValues,
  runtime: "node",
${customizations}
};
