import { ${clientConfigName} } from "${clientModuleName}";
import { getRuntimeConfig as getBrowserRuntimeConfig } from "./runtimeConfig.browser";

/**
 * @internal
 */
export const getRuntimeConfig = (config: ${clientConfigName}) => {
  const browserDefaults = getBrowserRuntimeConfig(config);
  ${prepareCustomizations}return {
    ...browserDefaults,
    ...config,
    runtime: "react-native",
${customizations}
  };
};
