import { ${clientConfigName} } from "${clientModuleName}";

/**
 * @internal
 */
export const getRuntimeConfig = (config: ${clientConfigName}) => {
  ${prepareCustomizations}return {
    apiVersion: "${apiVersion}",
    ${customizations}
  }
};
