/**
 * @internal
 */
export const getRuntimeConfig = (config: ${clientConfigName}) => {
  emitWarningIfUnsupportedVersion(process.version);
  const defaultsMode = resolveDefaultsModeConfig(config);
  const defaultConfigProvider = () => defaultsMode().then(loadConfigsForDefaultMode);
  const clientSharedValues = getSharedRuntimeConfig(config);
  ${prepareCustomizations}
  return {
    ...clientSharedValues,
    ...config,
    runtime: "node",
    defaultsMode,
${customizations}
  };
};
