name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Java ${{ matrix.java }} ${{ matrix.os }}
    strategy:
      matrix:
        java: [17]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5
      - uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'
          cache: gradle

      - name: clean and build
        run: ./gradlew clean build -Plog-tests

  protocol-tests:
    runs-on: ${{ matrix.os }}
    name: Protocol Tests
    strategy:
      matrix:
        java: [17]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
      - uses: gradle/actions/wrapper-validation@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: "yarn"

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'
          cache: gradle

      - name: clean and build
        run: ./gradlew clean build -Plog-tests
      - name: Install dependencies
        run: |
          yarn
          yarn turbo telemetry disable
      - name: Build packages
        run: node ./scripts/retry -- yarn build
      - name: Run protocol tests
        run: node ./scripts/retry -- yarn test:protocols

  lint-typescript:
    runs-on: ubuntu-latest
    name: TypeScript Lint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: "yarn"
      - name: Install dependencies
        run: yarn
      - name: Run eslint
        run: yarn lint --concurrency=3

  test-typescript:
    runs-on: smithy-typescript_ubuntu-latest_8-core
    name: TypeScript Test ${{ matrix.node }}
    needs: ['ensure-typescript-packages-have-changesets', 'lint-typescript', 'ensure-typescript-formatted']
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20, 22]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"
      - uses: gradle/actions/wrapper-validation@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: gradle
      - name: Install dependencies
        run: |
          yarn
          yarn turbo telemetry disable
      - name: Build packages
        run: node ./scripts/retry -- yarn build
      - name: Run unit tests
        run: node ./scripts/retry -- yarn test
      - name: Run integration tests
        run: |
          yarn config set enableImmutableInstalls false
          node ./scripts/retry -- yarn test:integration

  extract-docs:
    runs-on: smithy-typescript_ubuntu-latest_8-core
    name: Extract Docs
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: "yarn"
      - name: Install dependencies
        run: |
          yarn
          yarn turbo telemetry disable
      - name: Build packages
        run: node ./scripts/retry -- yarn build
      - name: Run API Extractor
        run: yarn extract:docs

  ensure-typescript-formatted:
    runs-on: ubuntu-latest
    name: Ensure TypeScript is formatted
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: "yarn"
      - name: Install dependencies
        run: yarn
      - name: Run the code formatter
        run: yarn format
      # This checks the output of git diff. If it's not empty (i.e there were
      # changes) it'll return a non-zero error code.
      - name: Ensure there are no changes from running the formatter
        run: |
          git diff
          test -z "$(git diff)"

  ensure-typescript-packages-have-changesets:
    runs-on: ubuntu-latest
    name: Ensure TypeScript packages have changesets
    steps:
      - uses: actions/checkout@v5
        # Include full git history needed for `yarn changeset status`
        with:
          ref: ${{github.event.pull_request.head.sha}}
          fetch-depth: 0
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: "yarn"
      - name: Install
        run: yarn
      - name: Ensure changesets exist for each changed package
        run: yarn changeset status --since=origin/main
